/*general*/
@font-face {
  font-family: "Futura";
  src: url(../fonts/Futura/FuturaPTMedium.otf);
 }
 
body{
  font-family: "Futura", sans-serif;
  color:#222626!important;
}

/*header*/
.navbar-brand a {
  padding:0;
}

.navbar-item img {
  max-height: 4rem;
}

.navbar-menu a, 
a.navbar-item{
  font-weight: 600!important;
}


.navbar-menu a:hover{
  background-color:transparent !important;
  color:#EEC219 !important;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{
  color:#EEC219 !important;
  background-color:transparent !important;
}

/*burger icon*/
.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
  height: 0.5px;
}

/* Home page hero image*/

.hero{
  background-image:url("../images/homepage/Banner.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  text-align:right;
}

.hero-body{
  padding:9rem 4rem;
}

.hero h1.title{
  font-size:4rem;
  color:white;
  text-shadow: 0 0 10px #222626;
}


.hero h2.subtitle{
  color:#EEC219 !important;
  text-shadow: 0 0 10px #222626;
}